<% layout('layouts/boilerplate') %>
<div class="row">
    <div class="col-6 offset-3">
        <div class="alert alert-warning" role="alert">
            <h4 class="alert-heading"><%= err.message %> </h4>
            <div  style="overflow-wrap: break-word;">
                <%= err.stack %> 
            </div>
            <hr>
        </div>
    </div>
</div>
