<% layout('layouts/boilerplate') %> 
<h1>All Campgrounds</h1>
<% for (let campground of campgrounds) {%>
    <li><a href="/campgrounds/<%= campground._id %> ">
            <%= campground.title %>
        </a></li>
    <% } %>

        <div>
            <br><a href="/campgrounds/new">Add new campground</a>
        </div>